p {
  font-family: Roboto;
  margin-top: 0px;
  margin-bottom: 0px;
}

.video-title {
  font-weight: bold;
  font-size: 18px;
  width: 300px;
  line-height: 24px;
  margin-bottom: 5px;
}

.video-stats {
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-bottom: 20px;
}

.video-author {
  color: rgb(96, 96, 96);
  font-size: 14px;
  margin-bottom: 20px;
}

.video-description {
  color: rgb(96, 96, 96);
  font-size: 14px;
  width: 280px;
  line-height: 22px;
  margin-bottom: 22px;
}

.apple-text {
  font-size: 14px;
  background-color: rgb(227, 65, 64);
  color: white;
  text-align: center;
  padding: 18px 0px;
}

.underline:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* practice */
.tahoma {
  font-family: Tahoma;
  font-weight: bold;
}

.arial {
  font-family: Arial;
  font-weight: bold;
}

.sales-red {
  font-family: Arial;
  color: red;
  font-size: 12px;
}

.verdana {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.verdana-subtitle {
  font-family: Verdana;
  font-size: 12px;
  color: rgb(107, 107, 107);
  margin-bottom: 10px;
}

.verdana-p {
  font-family: Verdana;
  font-size: 12px;
  width: 250px;
  margin-bottom: 10px;
}

.verdana-btn {
  font-family: Verdana;
  font-size: 10px;
  background-color: darkgreen;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
}

.apple-title {
  font-family: Arial;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.apple-subtitle {
  font-family: Arial;
  font-size: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.apple-link {
  font-family: Arial;
  font-size: 10px;
  text-align: center;
  color: rgb(17, 102, 231);
}

.mac-arial {
  font-family: Arial;
  text-align: center;
}

.mac-title {
  color: orange;
  text-align: center;
  font-weight: bold;
  font-size: 10px;
}

.mac-name {
  font-weight: bold;
  text-align: center;
}

.mac-description {
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  margin-bottom: 10px;
}

.mac-price {
  text-align: center;
  font-size: 12px;
  margin-bottom: 10px;
}

.mac-btn {
  background-color: rgb(76, 100, 210);
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 10px;
  font-weight: bold;
  padding: 5px 10px;
  cursor: pointer;
}

.center {
  text-align: center;
}

.stock-arial {
  font-family: Arial;
}

.price {
  font-weight: bold;
  font-size: 20px;
  margin-right: 5px;
}

.price-title {
  margin-bottom: 3px;
}

.currency {
  color: grey;
  font-size: 10px;
  font-weight: bold;
}

.delta {
  color: green;
  font-size: 10px;
}

.after {
  color: grey;
  font-size: 10px;
}

.after-delta {
  color: red;
  font-size: 10px;
}

.code-title {
  font-size: 10px;
  margin-bottom: 3px;
}

.user-at {
  color: grey;
}

.code-description {
  font-size: 10px;
  width: 380px;
  margin-bottom: 10px;
}

.code-closer {
  font-size: 10px;
}

.code-at {
  color: rgb(66, 162, 222);
}
